extends layout

block content
	.panel.panel-default
		.panel-heading Customers
			a.btn.btn-primary.pull-right(href="/addCustomer") Add Customer
		.panel-body
			.table-responsive
				table.table.table-striped
					tr
						th.col-xs-2 First Name
						th.col-xs-2 Last Name
						th.col-xs-3 Phone #
						th.col-xs-4 Adress
					tr
							td John
							td Burd
							td 417 349 0368
							td 9329 Highway 38 Graff Mo
					tr
						td John
						td Burd
						td 417 349 0368
						td 9329 Highway 38 Graff Mo
					tr
						td John
						td Burd
						td 417 349 0368
						td 9329 Highway 38 Graff Mo

