extends layout

block content
	h1 customers.id
	a.btn.btn-primary.pull-right(href="/addCustomer") Add Customer
	.table-responsive
		table.table.table-striped
			tr
				th.col-xs-2 First Name
				th.col-xs-2 Last Name
				th.col-xs-3 Phone #
				th.col-xs-4 Adress
				th.col-xs-1 view
			tr
				td John
				td Burd
				td 417 349 0368
				td 9329 Highway 38 Graff Mo
				td
					a.danger View/Update
			tr
				td John
				td Burd
				td 417 349 0368
				td 9329 Highway 38 Graff Mo
				td
					a.danger View/Update
			tr
				td John
				td Burd
				td 417 349 0368
				td 9329 Highway 38 Graff Mo
				td
					a.danger View/Update
